.title {
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.address {
    margin-top: 10px;
}

/* Dans app.css ou un fichier CSS approprié */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    z-index: 1000;
    width: 30%;
    height: 18px;
    background-color: white;
}

.modal.show {
    display: block;
}

.modal span {
    position: absolute;
    top: -12.5px;
    right: -12.5px;
    background-color: black;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
}

.modal p {
    margin: 0;
    padding: 0;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
    display: none;
}

.modal-overlay.show {
    display: block;
}